.cheque-tracker-container {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

h2 {
  color: #006400;
  font-size: 24px;
  font-weight: bold;
}

.new-cheque-btn {
  background-color: #006400;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.new-cheque-btn:hover {
  background-color: #004d00;
}

.search-bar {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #006400;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.clickable-row {
  cursor: pointer;
}

.clickable-row:hover {
  background-color: #e6e6e6;
}
